body {
	/*background-color: #EDECDB;*/
	font-family: sans-serif;
	font-size: 2em;
	font-family: 'Sofia', cursive;
	text-align: center;
}

#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.item {
	/*border: 1px solid white;*/
	border-radius: 5px;
	box-shadow: 1px 1px 2px black;
	color: white;
	font-weight:900;
}

.sm-box {
	height: 75px;
	width: 13%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.md-box {
	height: 100px;
	width: 13%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.lg-box {
	height: 150px;
	width: 13%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.red-box {
    background-image: url("../images/RedBoxBackground.png");
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	background-color: rgba(41, 3, 69, 0.8);
}

.green-box {
	background-image: url("../images/GreenBoxBackground.jpe");
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
    background-color: rgba(6, 35, 2, 0.8);
}

.yellow-box {
	background-image: url("../images/YellowBoxBackground.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
    background-color: rgba(38, 1, 1, 0.8);
}

.dgreen-box {
	background-image: url("../images/DgreenBoxBackground.jpe");
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
    background-color: rgba(1, 3, 40, 0.8);
}

img {
	width: 200px;
}