
.card-text {
    height: 10vh;
}

.btn-primary {
    background-color: #ff4546 !important;
    border-color: #ff4546 !important;
}

.btn-primary:hover {
    background-color: #e03d3e !important;
    border-color: #e03d3e !important;
}

.card {
    min-width: 29%;
    border: 0 !important;
    background-color: #db4646;
    -webkit-box-shadow: 0 16px 32px rgba(100, 27, 27, 0.1);
    box-shadow: 0 16px 32px rgba(100, 27, 27, 0.1);
}
/* had to disable hover to stop an issue with bootstrap modal - if enabled, a fix will be needed */
/* .card:hover {
    -webkit-box-shadow: 0 20px 36px rgba(100, 27, 27, 0.3);
    box-shadow: 0 20px 36px rgba(100, 27, 27, 0.3);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
} */
/*with dark mode text is not visible hence added this explicit black color for cards*/
.card-body{
    color:black;
}

/* This is added to align know more button for all the cards in activities page */
.card-title{
    height: 50px;
}