body {
    /* min-width: 100%; */
    overflow-x: hidden;
}

div.gifts-card {
    height: 100%;
}

div.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2em;
}

div.watches {
    height: 72%;
    margin-top: 30px;
}

/* #giftsPage {
  background-color: #ff4546;
} */

#bannerImage {
    position: relative;
}

#bannerImage {
    height: 90vh;
    object-fit: cover;
}

#banner {
    position: relative;
    margin-bottom: 40px;
}

#banner .caption {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2em;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.6);
    padding: 30px;
}

/* section#giftsPage {
  height: 90vh;
} */
#note {
    padding: 20px;
    /* border-top: 2px solid rgba(255, 255, 255, 0.8); */
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    background-color: brown;
    margin-bottom: 40px;
}

#giftList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ff4546;
    /* border-top: 2px solid rgba(255, 255, 255, 0.8); */
    margin-bottom: 40px;
}

.cardBackground {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    height: 50%;
}

.card-title,
.card-text {
    color: white;
}

.single-product {
    border-radius: 15px;
    margin: 10px !important;
}

.single-product img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.single-product .content {
    padding-top: 10px;
    padding-left: 20px;
}

.single-product span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-product-2 {
    border-radius: 15px;
    height: 100%;
}

.single-product-2 img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
}

.single-product-2 .content {
    padding-left: 40px;
}

.single-product-2 span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100vw;
    height: auto;
}

.img-fluid.plush-toys {
    height: 150px;
    width: auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    #banner .caption {
        font-size: 1em;
        margin-top: 10%;
    }
}