body {
  /* min-width: 100%; */
  overflow-x: hidden;
}

/* Layout */

.gifts-banner {
  background-image: url('../img/gift_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 50vh;
}

.gifts-banner__caption{
  color: #fff;
}

.gifts-note {
  padding: 2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  font-size: 1.8em;
  color: rgba(0,0,0,0.8);
  background-color: brown;
}



/* Typography */

h1 {
  font-size: 4rem;
}


div.gifts-card {
  height: 100%;
}

div.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

div.watches {
  height: 80%;
}



#giftList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff4546;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
}
.cardBackground{
  background-color: rgba(0,0,0,0.5);
}
.card-img-top {
  height: 50%;
}
.card-title,.card-text{
  color: white;
}

#single-product {
  border-radius: 15px;
  margin: 10px !important;
}
#single-product img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#single-product .content {
  padding-top: 10px;
  padding-left: 20px;
}
#single-product span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#single-product-2 {
  border-radius: 15px;
  margin: 10px !important;
  height: 415px;
  height: 100%;
}
#single-product-2 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 200px;
}
#single-product-2 .content {
  padding-left: 40px;
}
#single-product-2 span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*
* Mobile optimization
*/

@media (max-width: 575px) {
  h1 {
    font-size: 2rem;
  } 
  .gifts-banner {
    height: 30rem;
  }
}