section#hero-content {
  background: linear-gradient(-45deg, crimson, #ff4546);
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

#carousel {
  max-width: 70%;
  min-height: 400px;
  margin: 0 auto;
}

#carousel .slide img {
  max-width: 100%;
}

.tns-outer {
  position: relative;
}

.tns-controls button {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 300;
  font-size: 4rem;
}
.tns-controls .left-arrow {
  left: 10px;
}

.tns-controls .right-arrow {
  right: 10px;
}

.tns-controls .left-arrow,
.tns-controls .right-arrow {
  position: absolute;
  top: 45%;
}

.homeintro-div {
  background: linear-gradient(-45deg, crimson, #ff4546);
  height: 100vh;
  display: flex;
  text-align: center;
}

.homeintro-div--left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeintro-div--right {
  padding: 10px 30px;
  font-family: "Mountains of Christmas", cursive;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.santafied-image {
  width: 80%;
}

.intro-text {
  font-family: "Mountains of Christmas", cursive;
  color: white;
  font-size: 2rem;
}

.container-main-image {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
