section#hero-content {
  background: linear-gradient(-45deg, crimson, #ff4546);
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

#carousel {
  max-width: 70%;
  min-height: 400px;
  margin: 0 auto;
}

#carousel .slide img {
  max-width: 100%;
}

#carousel .slide .container-main-image {
  position: relative;
}

#carousel .slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.tns-outer {
  position: relative;
}

.tns-controls button {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 300;
  font-size: 4rem;
}
.tns-controls .left-arrow {
  left: 10px;
}

.tns-controls .right-arrow {
  right: 10px;
}

.tns-controls .left-arrow,
.tns-controls .right-arrow {
  position: absolute;
  top: 45%;
}

.intro-div {
  background: linear-gradient(-45deg, crimson, #ff4546);
  width: 100%;
  height: 100vh;
  text-align: center;
}

.santafied-image {
  width: 100%;
  height: 100%;
  /*padding-top: 75px;
  padding-left: 20px;*/
}

.intro-text {
  font-family: "Mountains of Christmas", cursive;
  color: white;
  font-size: 2rem;
}

.container-main-image {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
