/*
 * Following codeblocks are just starter code
 * Feel free to modify it in any way you like
 */

 body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*navbar Starts*/
#brand-color {
  color: #ff4546;
}

.navbar {
  padding: 20px 16px;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}
.nav-link {
  margin-right: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ff4546;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: #ff4546;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}


/*Navbar END*/
/*
section {
  padding: 0 1rem;
  font-size: 1.4em;
  height: 85vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
} */

.fa-cube{
  color:#ff4546;
}
/*Footer*/

footer {
  text-align: center;
  padding: 30px 10px;
  margin-top:auto;
  background: #111111;
  color: gray;
}

.site-footer {

  padding: 100px 0; /*padding top and bottom 100px 0 padding left and right*/
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer p {
  margin-top: 1rem;
}

.site-footer h4 {
  color: white;
}

.site-footer a:hover {
  color: white;
  opacity: 0.6;
}

.footer-tel,
.footer-logo {
  font-size: 2.25em; /*36px - 36 divided by 16*/
}

.footer-email {
  color: white;
}

.footer-social a {
  font-size: 20px;
  color: gray;
  border: solid 1px gray;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social a:hover {
  background-color: red;
  border-color: red;
  color: white;
  opacity: 1;
}

.footer-copyright {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 100px;
}

.footer-links h4 {
  margin: 30px 0;
}

.footer-links li {
  margin: 10px 0;
  font-size: 0.8rem;
}

.footer-links ul {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .footer-links {
    text-align: left;
  }
  
  .footer-links h4 { 
    margin-bottom: 30px;
    margin-left: 60px;
  }
  
  .footer-links li {
    margin: 10px 0 10px 60px;
  }
}

/* Sub pages footer styles */

.sub-page > footer {
  text-align: center;
}

/* Sub pages tab navigation styles */

.sub-page .list-group-item.list-group-item-action.active {
  background-color: #ff4546 !important;
  border-color: #ff4546 !important;
}

/*inverted form*/
.form-control.form-inverted {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
}
.feature-section{
  width: 100%;
  height: 40vh;
  background-color: #ff4546;
  color:white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.feature-card{
  height:40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icon{
  border:1px solid rgb(241, 239, 239,0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9vh;
}
.subtitle{
  font-size: 18px;
}
.page-content{
  height: 100vh;
}
.form-inline{
  justify-content: center;
}
