/*
 * Following codeblocks are just starter code
 * Feel free to modify it in any way you like
 */


html {
    scroll-behavior: smooth;
  
}

 :root {
  --background-color: #FFFFFF;
  --background-color-rgb: 255,255,255;

  --background-light-gray: #262626;

  --text-color: #121212;
  --text-color-rgb: 18,18,18;
 }


body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;  
}

.main-content {
    max-width: 62rem;
    margin: 0 auto;
}

/*navbar Starts*/

.navbar {
    padding: 20px 16px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
}

/*logo*/
.logo-container {
  position: relative;
  left: 2px;
  top: -3px;
}

#logo {
  animation: dash 2s linear forwards;
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
}

#logo path {
  
  animation: fill 1s 1s forwards linear;
  fill: transparent;
  stroke: var(--text-color);
}

#logo .logo__part2 {
   stroke: #ff4546;
   animation: fillRed 1s 1s forwards linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    stroke: var(--text-color);
  }
}

@keyframes fill {
  to {
    fill: var(--text-color);
    stroke: transparent;
  }
}

@keyframes fillRed {
  to {
    fill: #ff4546;
    stroke: transparent;
  }
}
/*end logo*/

.nav-link {
    margin-right: 1rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 500;
    color: var(--text-color);
}

@media (hover: hover) {
    .nav-link:hover {
        color: #ff4546;
    }
}

.dropdown-container {
    margin-left: auto;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff4546;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #ff4546;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

.nav-item .selected {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--text-color);
}

a.navbar-brand > *{
  color:var(--text-color);
}

/* This is added to correct the color of FIED text on all the pages. */
a.navbar-brand >.brand-color {
    color: #ff4546;
}

.navbar-toggler {
    background-color: white;
    border-radius: 4px;
    padding: 2px;
}

/*Navbar END*/
/*
section {
  padding: 0 1rem;
  font-size: 1.4em;
  height: 85vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
} */

.fa-cube {
    color: #ff4546;
}

/*Footer*/

footer {
    text-align: center;
    padding: 30px 10px;
    margin-top: auto;
    background: #111111;
    color: gray;
}

.site-footer {
    padding: 100px 0; /*padding top and bottom 100px 0 padding left and right*/
    margin-top: 8rem;
}

.site-footer a {
    color: white;
    text-decoration: none;
}

.site-footer p {
    margin-top: 1rem;
}

.site-footer h4 {
    color: white;
}

.site-footer a:hover {
    color: white;
    opacity: 0.6;
}

.footer-tel,
.footer-logo {
    font-size: 2.25em; /*36px - 36 divided by 16*/
}

.footer-email {
    color: white;
}

.footer-social a {
    font-size: 20px;
    color: gray;
    border: solid 1px gray;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social a:hover {
    background: -o-radial-gradient(circle, rgba(251, 66, 66, 1) 15%, rgba(201, 17, 15, 1) 90%);
    background: radial-gradient(circle, rgba(251, 66, 66, 1) 15%, rgba(201, 17, 15, 1) 90%);
    border-color: rgba(201, 17, 15, 1);
    color: white;
    opacity: 1;
}

.footer-copyright {
    padding-top: 35px;
    -o-object-position: bottom;
    object-position: bottom;
    padding-left: 0px;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    text-align: match-parent;
}

.footer-links h4 {
    margin: 30px 0;
}

.footer-links li {
    margin: 10px 0;
    font-size: 0.8rem;
}

.footer-links ul {
    margin-bottom: 30px;
}

.footer-social .fab {
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    .footer-links {
        text-align: left;
    }

    .footer-links h4 {
        margin: 0 0 30px 60px;
    }

    .footer-links li {
        margin: 10px 0 10px 60px;
    }
}

/* Sub pages footer styles */

.sub-page > footer {
    text-align: center;
}

/* Sub pages tab navigation styles */

.sub-page .list-group-item.list-group-item-action.active {
    background-color: #ff4546 !important;
    border-color: #ff4546 !important;
}

/* adding scroll to list menus */

#list-tab{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100% ;
  height: 100%;
}

/*inverted form*/
.form-control.form-inverted {
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
}

.feature-section {
    background-color: #ff4546;
    color: white;
    padding: 30px 0;
}

.feature-card {
    padding-top: 75px;
    padding-bottom: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 767px) and (max-width: 991px) {
    .feature-card {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .feature-card {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .feature-card {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.icon {
    border: 1px solid rgba(241, 239, 239, 0.5);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 7em;
    min-width: 7em;
    margin-right: 2em;
    background-color: rgba(241, 239, 239, 0.08);
}

.feature-card .icon .fa {
    font-size: 3em;
}

@media (min-width: 767px) and (max-width: 991px) {
    .icon {
        min-height: 10em;
        min-width: 10em;
    }

    .feature-card .icon .fa {
        font-size: 4em;
    }
}

.grow {
    transition: all .25s ease-in-out; 
}

.grow:hover {
    transform: scale(1.25)
}

.subtitle {
    font-size: 18px;
}

.form-inline {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-color {
    color: white;
    background-color: #ff4546;
    border-color: #ff4546;
}

/*==============
 Newsletter Subscribe
==============*/
.newsletter-subscribe {
    color: var(--text-color);
    background-color:var(--background-color);
      padding: 50px 0;
    position: relative;
}

.newsletter-subscribe p {
    color: #7d8285;
    line-height: 1.5;
}

.newsletter-subscribe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
}

.newsletter-subscribe .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
    margin-bottom: 35px;
}

.newsletter-subscribe form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.newsletter-subscribe form .form-control {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
}

.newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4rem;
    line-height: 1;
}

.newsletter-subscribe form .btn:hover {
    opacity: 1;
}

.newsletter-subscribe form .btn:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.newsletter-subscribe form .btn-danger {
    background-color: #da0517 !important;
    color: #fff;
    outline: none !important;
}

/* Make bootstrap buttons match theme */
.btn-primary {
    background-color: #ff4546;
    border-color: #ff4546;
}

.btn-primary:hover {
    background-color: #e03d3e;
    border-color: #e03d3e;
}

.newsletter-subscribe .error-msg {
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    color: #da0517 !important;
}
