/*
 * Following codeblocks are just starter code
 * Feel free to modify it in any way you like
 */
 html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  max-width: 62rem;
  margin: 0 auto;
}

/*navbar Starts*/
.brand-color {
  color: #ff4546;
}

.navbar {
  padding: 20px 16px;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
}
.nav-link {
  margin-right: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
  color: black;
}

@media (hover: hover) {
  .nav-link:hover {
    color: #ff4546;
  }
}

.dropdown-container {
  margin-left: auto;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ff4546;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: #ff4546;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.nav-item .selected {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.fa-cube {
  color: #ff4546;
}
/*Footer*/

footer {
  text-align: center;
  padding: 30px 10px;
  margin-top: auto;
  background: #111111;
  color: gray;
}

.site-footer {
  padding: 100px 0; /*padding top and bottom 100px 0 padding left and right*/
  margin-top: 10px;
}

.site-footer a {
  color: white;
  text-decoration: none;
}

.site-footer p {
  margin-top: 1rem;
}

.site-footer h4 {
  color: white;
}

.site-footer a:hover {
  color: white;
  opacity: 0.6;
}

.footer-tel,
.footer-logo {
  font-size: 2.25em; /*36px - 36 divided by 16*/
}

.footer-email {
  color: white;
}

.footer-social a {
  font-size: 20px;
  color: gray;
  border: solid 1px gray;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social a:hover {
  background: radial-gradient(circle, rgba(251,66,66,1) 15%, rgba(201,17,15,1) 90%);
  border-color: rgba(201,17,15,1);
  color: white;
  opacity: 1;
}

.footer-copyright {
    padding-top: 35px;
    object-position: bottom;
    padding-left:390px;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
    text-align: match-parent;
}
}

.footer-links h4 {
  margin: 30px 0;
}

.footer-links li {
  margin: 10px 0;
  font-size: 0.8rem;
}

.footer-links ul {
  margin-bottom: 30px;
}

.footer-social .fab {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .footer-links {
    text-align: left;
  }

  .footer-links h4 {
    margin: 0 0 30px 60px;
  }

  .footer-links li {
    margin: 10px 0 10px 60px;
  }
}

/* Sub pages footer styles */

.sub-page > footer {
  text-align: center;
}

/* Sub pages tab navigation styles */

.sub-page .list-group-item.list-group-item-action.active {
  background-color: #ff4546 !important;
  border-color: #ff4546 !important;
}

/*inverted form*/
.form-control.form-inverted {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
}
.feature-section {
  background-color: #ff4546;
  color: white;
  padding:30px 0;
}

.feature-card {
  padding-top:75px;
  padding-bottom:75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 767px) and (max-width: 991px) {
  .feature-card {
    padding-top:25px;
    padding-bottom:25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .feature-card {
    padding-top:25px;
    padding-bottom:25px;
  }
}

@media (max-width: 575px) {
  .feature-card {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.icon {
  border: 1px solid rgb(241, 239, 239, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height:7em;
  min-width:7em;
  margin-right:2em;
  background-color:rgb(241, 239, 239, 0.08);
}

.feature-card .icon .fa {
  font-size:3em;
}
@media (min-width: 767px) and (max-width: 991px) {
  .icon {
    min-height:10em;
    min-width:10em;
  }
  .feature-card .icon .fa {
    font-size:4em;
  }
}

.subtitle {
  font-size: 18px;
}

.form-inline {
  justify-content: center;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-color {
  color: white;
  background-color: #ff4546;
  border-color: #ff4546;
}

/*==============
 Newsletter Subscribe
==============*/
.newsletter-subscribe {
  color:#313437;
  background-color:#fff;
  padding:50px 0;
  position: relative;
}

.newsletter-subscribe p {
  color:#7d8285;
  line-height:1.5;
}

.newsletter-subscribe h2 {
  font-size:24px;
  font-weight:bold;
  margin-bottom:25px;
  line-height:1.5;
  padding-top:0;
  margin-top:0;
  color:inherit;
}

.newsletter-subscribe .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom:35px;
}

.newsletter-subscribe form {
  justify-content:center;
}

.newsletter-subscribe form .form-control {
  background:#eff1f4;
  border:none;
  border-radius:3px;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:9px;
  height:45px;
  margin-right:10px;
  min-width:250px;
}

.newsletter-subscribe form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
}

.newsletter-subscribe form .btn:hover {
  opacity:1;
}

.newsletter-subscribe form .btn:active {
  transform:translateY(1px);
}

.newsletter-subscribe form .btn-danger {
  background-color:#da0517 !important;
  color:#fff;
  outline:none !important;
}

/* Make bootstrap buttons match theme */
.btn-primary {
  background-color: #ff4546;
  border-color: #ff4546;
}

.btn-primary:hover {
  background-color: #e03d3e;
  border-color: #e03d3e;
}

.newsletter-subscribe .error-msg {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: #da0517 !important;
}