.tab-navigation {
  margin-bottom: 16px;
}

.tab-content .col-lg-4 > ul {
  margin: 16px 0 0;
}

.tab-content .card-img {
  max-height: 250px;
}

@media(max-width: 767px) {
  .tab-content .card-img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}