
body {
  background: url('../img/recipes/recipe_bg.jpg') no-repeat center center/cover fixed;
 }


/* ************************** RECIPE CONTENT ******************************** */
.recipe-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 200px;
  border-radius: 20px;
  max-width: 900px;
  margin: 5rem auto;
  background: rgba(245, 240, 240, 0.5);
  padding: 2rem;
  color: #fff;
  font-family: 'Mountains of Christmas', cursive;
}

h1 {
  text-align: center;
  font-size: 2.5rem; 
  margin-bottom: 7rem;
}

.recipes-content {
  display: flex; 
  flex-direction: row; 
   height: 15%;
   margin-top: 0.5rem;  
   margin-bottom: 2rem;
   justify-content: center;
   align-items: center;

}


h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  }

p {
  font-size: 1.8rem;
  margin: 1.5rem 2rem;
  padding: 1.5rem;
  color: maroon;
 }

 img {
   border-radius: 50%;   
   margin-top: 1.5rem;
   padding: 1rem;
 }
 img:hover {
  box-shadow:rgb(255, 255, 255) 0px 2px 15px, inset rgb(255, 255, 255) 0px -10px 20px;
 }


 .recipe-link {
   color: maroon;
   letter-spacing: 6px;
 }

 .recipe-link:hover {
   color: rgb(206, 175, 163);
   text-decoration: underline;
 }

 h4 {
   text-align: center;
   color: rgb(52,66,69);
   letter-spacing: 2px;
 }


/* ****************************************** RESPONSIVE ********************************** */
 @media (max-width: 700px) {
   
 .recipe-section {
   left: 5%;
   right: 5%;
   background: rgba(245, 240, 240, 0.8);
   padding: 1rem;
   margin: 0 auto;
   margin-top: 15rem;
   max-width: 500px;
   color: #333;
  }

  h1 {
   position: absolute;
   font-size: 1.5rem; 
   margin: 0.5rem auto;       
  }

.recipes-content {
   flex-direction: column;
   margin: 1rem auto;
  }


h3 {  
  font-size: 1.6rem;
  margin-top: -3rem;
  }

p {
  font-size: 1.5rem;
  margin: 0 2rem; 
}

 img {
   margin: 5rem auto;   
 }
 
 }
