/* ********************** BACKGROUNDS ********************** */
#songs {
  background: url('../img/songs_bg.jpg') no-repeat center center/cover fixed;
}

#lyrics {
  height: 100vh;
  color: #fff;     
}

#lyrics .lyrics-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top:66px;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}

.text {
  margin-top: 30px;
  font-size: 1.5rem;
}

.link1 {
  color: red;
  font-size: 2.8rem;
}

.link1:hover {
  color: darkgreen;
}
.link2:hover {
  color: darkorange;
 }
 .link3:hover {
  color: darkgreen;
 }

.link2 {
  color: bisque;
  font-size: 2.8rem;
}


.link3 {
  color: cornflowerblue;
  font-size: 2.8rem;
}

/* ****************************************** RESPONSIVE ********************************** */

@media(max-width: 700px){

  #songs {
    background: url('../img/songs_mobile_bg.jpg') no-repeat center center/cover fixed;
  }  
  
  #lyrics .lyrics-content {
      display: flex;
      flex-direction: column;   
      align-items: center;
      height: 450%;
      padding: 0 2rem;
      /* Overlay */
      position: absolute;      
      top: 50px;
    }
  
  .text {    
    font-size: 1rem;    
  }
  
.link1, .link2, .link3 {
  font-size: 1.5rem;
}
}